<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485305051487-pv9le3b8e63emk5ocurg1ui10aqt1nfo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485305051487-pv9le3b8e63emk5ocurg1ui10aqt1nfo</string>
	<key>API_KEY</key>
	<string>AIzaSyDfCQ9H6VTQppw1VYhZbNQb8bwQS49E4F0</string>
	<key>GCM_SENDER_ID</key>
	<string>485305051487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fardev.travelholic</string>
	<key>PROJECT_ID</key>
	<string>travelholic-94927</string>
	<key>STORAGE_BUCKET</key>
	<string>travelholic-94927.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:485305051487:ios:27d5efce5cf293ac446eea</string>
</dict>
</plist>
